[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf
Actions=add_book

[Desktop Action add_book]
Name=Add ebook to Calibre
Name[it]=Aggiungi a Calibre
Exec=calibre %F
Icon=calibre-gui
